<div class="m-5">
  <h1>Stupid Coaching</h1>

  <div class="mt-4">
    <form action="/answer" data-turbo="false">
      <label for="question">Pose ta question !</label>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control blue-input" id="question" name="question">
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary" value="Ask!">
        </div>
      </div>
    </form>
  </div>
</div>
